<h1>Result</h1>



<%= link_to 'Play again', new_path %>

<!-- Pour chaque lettre de word, on cheque si include dans letters -->
<!-- split, chars -->
<!-- mot valide anglais, interpoler dans l'url -->
